.k-filter-menu ul {
    list-style-type: none;
    padding: 0 .4em 0 .2em;
    background-color: transparent;
    border: none;
}

.k-filter-menu ul li {
    white-space: nowrap;
}

.k-filter-menu .scroll-wrapper {
    padding-right: 16px;
}