<div class="promotion-item">
	<h3>@GetValue("ParagraphHeader")</h3>	
  @if(GetValue("ParagraphImageClean") != null && GetValue("ParagraphImageClean") != "" ) {
  	<img src='@GetValue("ParagraphImageClean")' />
  }
  @GetValue("ParagraphText")
</div>
   