$color-primary: #0e8f45;
$color-green-primary: #0b793a;
$color-green-light: #13ac46;
$color-yellow: #fff600;
$color-blue: #1d6bab;
$color-blue-lighter: #75a4cb;
$color-dark-gray: #333;
$color-table-report: #f2f9eb;
$color-gray-light: #f3f3f3;
$red: red;

// Theme

// $color-green-primary: #70a63b;
// $color-green-light: #a1bc31;
// $color-table-report: #f8fbe9;

$green: #61af35;
$lightgreen: #d7eace;
$yellowgreen: #a1bc31;
$darkgray: #272525;
$brown: #856e3f;
$lightbrown: #ADA683;
$yellow: #E6BC21;
$lightyellow: #dddb1c;
$pink: #F0A68B;
$blue: #1d6bab;

$primary: $green;
$secondary: $brown;

